/*Fonts*/
@font-face{
    font-family: headerFont;
	src: url(../font/handwriting-draft_free-version.ttf);
}

@font-face{
    font-family: paragraphFont;
	src: url(../font/YummyCupcakes.ttf);
}

/*Background*/
html, body{
    margin: 0;
	height: 100%;
	min-height: 100%;
}

html{
	background: lightgray url('../img/background.png') fixed;
	background-size: cover;
}

body>div{
	background: url('../img/paper_overlay.png') fixed;
	display:inline-block;
	width: 100%;
	min-height: 100%;
}

/*Container*/
div.container{
	margin: 2% 10% 5% 10%;
	background-image: url('../img/paper_overlay_light.png');
	background-color: white;
	padding: 0.5% 0% 1% 0%;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	position: relative;
}

div.container:before, div.container:after {
	content: "";
	height: 98%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

div.container:before {
	background: #fafafa;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	left: -5px;
	top: 4px;
	transform: rotate(-2.5deg);
}

div.container:after {
	background: #f6f6f6;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	right: -3px;
	top: 1px;
	transform: rotate(1.4deg);
}

/*Navigatie Balk*/
#nav .nav{
	list-style: none;
	font-weight: bold;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	position: absolute;
}

#nav li{
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	position: relative;
	list-style: none;
	z-index: 999;
}


#nav a{
	display: block;
	padding: 5px;
	color: #fff;
	background: #333;
	text-decoration: none;
}


#nav a:hover{
	color: #fff;
	background: #6b0c36;
	text-decoration: none;
}

#nav ul{
	background: #fff;
	background: rgba(255,255,255,0);
	list-style: none;
	position: absolute;
	display: none;
}

#nav ul li{
	padding-top: 1px;
	float: none;
}

#nav li ul li{
	z-index: 0;
	width: 155%;
}

#nav li ul li.jp{
	z-index: 0;
	width: 155%;
}

#nav li ul li.jp_characters{
	z-index: 0;
	width: 500%
}
#nav li:hover ul{
	display: block;
	padding: 0px;
}

#nav li:hover a{
	background: #6b0c36;
	text-decoration: none;
}
#nav li:hover ul a{
	text-decoration: none;
}
#nav li:hover ul li a:hover{ 
	background: #333;
}

#nav li:hover ul li{
	display: block;
}

.Language{
	width: 110px;
	height: 75px;
	float: right;
}

#nav a.language{
	background: none;
}

/*Website Content*/
div.content{
	margin: 0% 5% 5% 3%;
}

p{
	font-family: paragraphFont;
	font-size: 18px;
	letter-spacing: 0.4px;
}

div.box{
	padding: 5px;
	background-image: url('../img/paper_overlay_light.png');
	background-color: lightgray;
	border: 7px solid #000;
	border-image: url('../img/crude_drawn_border.png') 16 round;
	border-image-outset: 7px;
}

h1,h2,h3{
	margin: 0;
	font-family: headerFont;
	font-weight: normal;
}

h1{
	font-size: 48px;
}

h3{
	font-size: 20px;
}

